[ColorEffects:Disabled]
Color=112,111,110
ColorAmount=0
ColorEffect=0
ContrastAmount=0.65
ContrastEffect=1
IntensityAmount=-0.2
IntensityEffect=2

[ColorEffects:Inactive]
Color=112,111,110
ColorAmount=0.025
ColorEffect=2
ContrastAmount=0.25
ContrastEffect=2
Enable=false
IntensityAmount=0
IntensityEffect=0

[Colors:Button]
BackgroundAlternate=28,100,155
BackgroundNormal=33,110,173
DecorationFocus=43,116,199
DecorationHover=119,183,255
ForegroundActive=255,128,226
ForegroundInactive=136,135,134
ForegroundLink=104,187,255
ForegroundNegative=191,3,3
ForegroundNeutral=176,128,0
ForegroundNormal=160,213,255
ForegroundPositive=0,110,40
ForegroundVisited=147,133,255

[Colors:Selection]
BackgroundAlternate=62,138,204
BackgroundNormal=103,184,255
DecorationFocus=43,116,199
DecorationHover=119,183,255
ForegroundActive=255,128,224
ForegroundInactive=68,98,120
ForegroundLink=0,49,110
ForegroundNegative=156,14,14
ForegroundNeutral=255,221,0
ForegroundNormal=8,32,137
ForegroundPositive=128,255,128
ForegroundVisited=69,40,134

[Colors:Tooltip]
BackgroundAlternate=196,224,255
BackgroundNormal=192,218,255
DecorationFocus=43,116,199
DecorationHover=119,183,255
ForegroundActive=255,128,224
ForegroundInactive=96,112,128
ForegroundLink=0,87,174
ForegroundNegative=191,3,3
ForegroundNeutral=176,128,0
ForegroundNormal=20,19,18
ForegroundPositive=0,110,40
ForegroundVisited=100,74,155

[Colors:View]
BackgroundAlternate=38,115,174
BackgroundNormal=42,127,192
DecorationFocus=43,116,199
DecorationHover=119,183,255
ForegroundActive=255,128,224
ForegroundInactive=136,135,134
ForegroundLink=0,0,255
ForegroundNegative=191,3,3
ForegroundNeutral=176,128,0
ForegroundNormal=201,230,255
ForegroundPositive=0,110,40
ForegroundVisited=76,46,111

[Colors:Window]
BackgroundAlternate=21,75,116
BackgroundNormal=29,95,149
DecorationFocus=43,116,199
DecorationHover=119,183,255
ForegroundActive=255,128,224
ForegroundInactive=136,135,134
ForegroundLink=104,185,255
ForegroundNegative=191,3,3
ForegroundNeutral=176,128,0
ForegroundNormal=160,211,255
ForegroundPositive=0,110,40
ForegroundVisited=149,133,255

[General]
ColorScheme=blue silence
Name=blue silence
shadeSortColumn=true

[KDE]
contrast=7

[WM]
activeBackground=30,103,159
activeBlend=63,149,240
activeForeground=255,255,255
inactiveBackground=26,127,158
inactiveBlend=92,186,220
inactiveForeground=255,255,255
