<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
    <?include defines.wxi?>
    <Product Id="$(var.ProductCode)" Name="$(var.ProductName)" Language="1033" Version="$(var.ProductVersion)" Manufacturer="$(var.Manufacturer)" UpgradeCode="$(var.UpgradeCode)" >
      <Package Id="*" Keywords="Installer" Description="Leechcraft $(var.ProductTextVersion) Installer" Manufacturer="$(var.Manufacturer)" InstallerVersion="301" Compressed="yes" InstallScope="perMachine" InstallPrivileges="elevated"/>
      
      <Media Id="1" Cabinet="leechcraft.cab" EmbedCab="yes" />
      <Media Id="2" Cabinet="qt.cab" EmbedCab="yes" />

      <MajorUpgrade DowngradeErrorMessage="A newer version of $(var.ProductName) is already installed." AllowSameVersionUpgrades="yes" MigrateFeatures="yes" Schedule="afterInstallInitialize"/>
   
      <Directory Id="TARGETDIR" Name="SourceDir">
        <Directory Id="ProgramFilesFolder">
            <Directory Id="DIR_Deviant" Name="$(var.Manufacturer)">
                <Directory Id="INSTALLFOLDER" Name="$(var.ProductName)">
                    <Directory Id="DIR_icons" Name="icons" />
                    <Directory Id="DIR_include" Name="include" />
                    <Directory Id="DIR_themes" Name="leechcraft" />
                    <Directory Id="DIR_plugins" Name="plugins">
                      <Directory Id="DIR_leechcraft_plugins" Name="bin" />
                      <Directory Id="DIR_imageformats" Name="imageformats" />
                      <Directory Id="DIR_sqldrivers" Name="sqldrivers" />
                    </Directory>
                    <Directory Id="DIR_settings" Name="settings" />
                    <Directory Id="DIR_share" Name="share" />
                    <Directory Id="DIR_translations" Name="translations" />
                </Directory>
            </Directory>
        </Directory>
        <Directory Id="ProgramMenuFolder">
          <Directory Id="ApplicationProgramsFolder" Name="$(var.ProductName)"/>
        </Directory>
          <Directory Id="DesktopFolder" Name="Desktop">
        </Directory>
      </Directory>

      <DirectoryRef Id="ApplicationProgramsFolder">
        <Component Id="ApplicationShortcut" Guid="049F82C8-A0F1-11E1-B89F-EB146288709B">
          <Shortcut Id="ApplicationStartMenuShortcut"
                    Name="Launch $(var.ProductName)"
                    Description="Launch $(var.ProductName)"
                    Target="[INSTALLFOLDER]$(var.ProductName).exe"
                    WorkingDirectory="INSTALLFOLDER"
                    Icon="AppIcon"/>
          <Shortcut Id="UninstallProduct" 
                    Name="Uninstall $(var.ProductName)" 
                    Target="[SystemFolder]msiexec.exe" 
                    Arguments="/x [ProductCode]"
                    Description="Uninstalls LeechCraft from this machine" />
          <RemoveFolder Id="ApplicationProgramsFolder" On="uninstall"/>
          <RegistryValue Root="HKCU" Key="Software\Microsoft\Deviant\LeechCraft" Name="installed" Type="integer" Value="1" KeyPath="yes"/>
        </Component>
      </DirectoryRef>

      <DirectoryRef Id="DesktopFolder">
        <Component Id="ApplicationShortcutDesktop" Guid="{A072CB7F-5598-4d1c-85E3-C119659B1B19}">
          <Shortcut Id="ApplicationDesktopShortcut"
             Name="$(var.ProductName)"
             Description="Launch LeechCraft"
             Target="[INSTALLFOLDER]LeechCraft.exe"
             WorkingDirectory="INSTALLFOLDER"
             Icon="AppIcon" />
          <RemoveFolder Id="DesktopFolder" On="uninstall"/>
          <RegistryValue
              Root="HKCU"
              Key="Software\Deviant\LeechCraft"
              Name="installed"
              Type="integer"
              Value="1"
              KeyPath="yes"/>
        </Component>
      </DirectoryRef>
         
      <UI>
        <UIRef Id="MondoWithBrowserDlg" />
        <Publish Dialog="ExitDialog"
            Control="Finish"
            Event="DoAction"
            Value="LaunchApplication">WIXUI_EXITDIALOGOPTIONALCHECKBOX = 1 and NOT Installed</Publish>
      </UI>

      <Property Id="WIXUI_EXITDIALOGOPTIONALCHECKBOXTEXT" Value="Launch $(var.ProductName)" />
      <Property Id="WixShellExecTarget" Value="[#FILE_leechcraft.exe]" />
      <CustomAction Id="LaunchApplication" BinaryKey="WixCA" DllEntry="WixShellExec" Impersonate="yes" />      


      <Property Id="WIXUI_INSTALLDIR" Value="INSTALLFOLDER" />
      <WixVariable Id="WixUILicenseRtf" Value="license.rtf" />
      <WixVariable Id="WixUIDialogBmp" Value="installscreen.bmp" />
      <WixVariable Id="WixUIBannerBmp" Value="headerimage.bmp" />

      <Icon Id="AppIcon" SourceFile="$(var.SourcePath)\leechcraft.ico"/>
      <Property Id="ARPPRODUCTICON" Value="AppIcon" />

      <Feature Id="Feature_Core" Title="Core" Level="1" Absent="disallow">
        <Feature Id="Feature_LeechCraft" Title="LeechCraft" Absent="disallow" Description="LeechCraft's core">
          <ComponentGroupRef Id="CG_CoreBinaries" />
          <ComponentGroupRef Id="CG_LeechCraftCoreLibraries" />
          <ComponentGroupRef Id="CG_LeechCraftInclude" />
          <ComponentGroupRef Id="CG_LeechCraftShare" />
          <ComponentGroupRef Id="CG_LeechCraftSettings" />
          <ComponentRef Id="ApplicationShortcutDesktop"/>
          <ComponentRef Id="ApplicationShortcut"/>
        </Feature>
        <Feature Id="Feature_Qt" Title="Qt" Absent="disallow" Description="Qt libraries" >
          <ComponentGroupRef Id="CG_QtLibs" />
          <ComponentGroupRef Id="CG_QtPlugins" />
        </Feature>
        <Feature Id="Feature_OpenSSL" Title="OpenSSL" Absent="disallow" Description="OpenSSL libraries" >
          <ComponentGroupRef Id="CG_OpenSSLLibraries" />
        </Feature>
        <Feature Id="Feature_Icons" Title="Icons" Absent="disallow" Description="Icons" >
          <ComponentGroupRef Id="CG_LeechCraftIcons" />
          <ComponentGroupRef Id="CG_LeechCraftThemes" />
        </Feature>
        <Feature Id="Feature_Translations" Title="Translations" Absent="disallow" Description="Translations">
          <ComponentGroupRef Id="CG_LeechCraftTranslations" />
        </Feature>
      </Feature>
      <Feature Id="Feature_Plugins" Title="Plugins" Level="1" Absent="allow" Description="LeechCraft plugins">
          <FeatureRef Id="Feature_advancednotifications" />
          <FeatureRef Id="Feature_cstp" />
          <FeatureRef Id="Feature_aggregator" />
          <FeatureRef Id="Feature_auscrie" />
          <FeatureRef Id="Feature_azoth" />
          <FeatureRef Id="Feature_bittorrent" />
          <FeatureRef Id="Feature_blasq" />
          <FeatureRef Id="Feature_blogique" />
          <FeatureRef Id="Feature_deadlyrics" />
          <FeatureRef Id="Feature_dlniwe" />
          <FeatureRef Id="Feature_dolozhee" />
          <FeatureRef Id="Feature_gacts" />
          <FeatureRef Id="Feature_glance" />
          <FeatureRef Id="Feature_gmailnotifier" />
          <FeatureRef Id="Feature_harbinger" />
          <FeatureRef Id="Feature_historyholder" />
          <FeatureRef Id="Feature_hotstreams" />
          <FeatureRef Id="Feature_imgaste" />
          <FeatureRef Id="Feature_kinotify" />
          <FeatureRef Id="Feature_knowhow" />
          <FeatureRef Id="Feature_lackman" />
          <FeatureRef Id="Feature_lastfmscrobble" />
          <FeatureRef Id="Feature_lhtr" />
          <FeatureRef Id="Feature_liznoo" />
          <FeatureRef Id="Feature_lmp" />
          <FeatureRef Id="Feature_monocle" />
          <FeatureRef Id="Feature_musiczombie" />
          <FeatureRef Id="Feature_nacheku" />
          <FeatureRef Id="Feature_netstoremanager" />
          <FeatureRef Id="Feature_networkmonitor" />
          <FeatureRef Id="Feature_newlife" />
          <FeatureRef Id="Feature_pintab" />
          <FeatureRef Id="Feature_pogooglue" />
          <FeatureRef Id="Feature_poleemery" />
          <FeatureRef Id="Feature_poshuku" />
          <FeatureRef Id="Feature_sb2" />
          <FeatureRef Id="Feature_secman" />
          <FeatureRef Id="Feature_seekthru" />
          <FeatureRef Id="Feature_summary" />
          <FeatureRef Id="Feature_tabslist" />
          <FeatureRef Id="Feature_tabsessmanager" />
          <FeatureRef Id="Feature_touchstreams" />
          <FeatureRef Id="Feature_tpi" />
          <FeatureRef Id="Feature_vgrabber" />
          <FeatureRef Id="Feature_vrooby" />
          <FeatureRef Id="Feature_woodpecker" />
          <FeatureRef Id="Feature_xproxy" />
          <FeatureRef Id="Feature_xtazy" />

        <ComponentGroupRef Id="CG_CommonLibs" />
      </Feature>
    </Product>

    <Fragment>
      <ComponentGroup Id="ProductComponents" Directory="INSTALLFOLDER">
          <!-- TODO: Remove the comments around this Component element and the ComponentRef below in order to add resources to this installer. -->
          <!-- <Component Id="ProductComponent"> -->
          <!-- TODO: Insert files, registry keys, and other resources here. -->
          <!-- </Component> -->
      </ComponentGroup>
    </Fragment>
</Wix>