*.qm
builds/
build32/
backup/
debug/
release/
build/
src/debian/
changelog
src/data/*.gz
src/plugins/anhero/crashprocess/data/*.gz
*.tar.gz
*~
dummyfile.cpp
*.kdev4
*.user
tools/win32/build32/
.tx/
tools/win32/LeechCraft/
