Georg Rudoy <0xd34df00d@gmail.com>
Oleg Linkin <MaledictusDeMagog@gmail.com>
Minh Ngo <nlminhtl@gmail.com>
Eugene Mamin <TheDZhon@gmail.com>
Ronin <aaermolov@gmail.com>

Georg Rudoy <0xd34df00d@gmail.com> <d34df00d@idead.(none)>
Georg Rudoy <0xd34df00d@gmail.com> <d34df00d@0xd34df00d.homelinux.org>
Minh Ngo <nlminhtl@gmail.com> <ignotus@debian>
Oleg Linkin <MaledictusDeMagog@gmail.com> <magog@l12.(none)>
Oleg Linkin <MaledictusDeMagog@gmail.com> <maledictusdemagog@gmail.com>
ForNeVeR <neverthness@gmail.com> <ForNeVeR@.(none)>
Alexander Saprykin <cutwatercore@gmail.com> <cutwater@ctw-portable.(none)>
Ronin <aaermolov@gmail.com> <ronin@ronin.homelinux.net>
Vladimir Lagunov <werehuman@gmail.com> <werehuman@lithium.localdomain>
