*substvars
*.log
files
leechcraft-libplugininterface0.3.0.postinst.debhelper
leechcraft-libplugininterface0.3.0.postrm.debhelper
leechcraft-libplugininterface0.3.0
leechcraft-libxmlsettingsdialog0.3.0.postinst.debhelper
leechcraft-libxmlsettingsdialog0.3.0.postrm.debhelper
leechcraft-libxmlsettingsdialog0.3.0
leechcraft-iconset-oxygen
leechcraft-iconset-tango
leechcraft-plugin-dbusmanager
leechcraft-plugin-historyholder
leechcraft-plugin-lmp
leechcraft-plugin-networkmonitor
leechcraft-plugin-poshuku-cleanweb
leechcraft-plugin-aggregator
leechcraft-plugin-bittorrent
leechcraft-plugin-cstp
leechcraft-plugin-deadlyrics
leechcraft-plugin-poshuku-fua
leechcraft-plugin-poshuku
leechcraft-plugin-seekthru
leechcraft
leechcraft-plugininterface
leechcraft-xmlsettingsdialog
