Source: leechcraft
Section: net
Priority: extra
Maintainer: Georg Rudoy <0xd34df00d@gmail.com>
Build-Depends: debhelper (>= 5),
 cmake (>= 2.6),
 libboost-thread1.37-dev,
 libboost-date-time1.37-dev,
 libboost-filesystem1.37-dev,
 libboost-regex1.37-dev,
 libboost-program-options1.37-dev,
 libqt4-dev (>= 4.5)
Standards-Version: 3.7.3
Homepage: http://leechcraft.org

Package: leechcraft-libxmlsettingsdialog0.3.0
Section: libs
Architecture: i386 i586 i686 amd64
Depends: libc6,
 libgcc1,
 libstdc++6,
 libqt4-core (>= 4.5),
 libqt4-gui (>= 4.5),
 libqt4-xml (>= 4.5),
 libqt4-script (>= 4.5)
Homepage: http://leechcraft.org
Description: Dynamic settings dialog builder for LeechCraft
 XmlSettingsDialog provides a simple but powerful and abstract way to
 create settings dialogs from XML files and store their (and not only)
 values.

Package: leechcraft-libplugininterface0.3.0
Section: libs
Depends: libc6,
 libgcc1,
 libqt4-core (>= 4.5),
 libqt4-gui (>= 4.5),
 libqt4-network (>= 4.5),
 libqt4-sql (>= 4.5),
 libqt4-xml (>= 4.5)
Architecture: i386 i586 i686 amd64
Homepage: http://leechcraft.org
Description: Common library for LeechCraft
 A library providing some useful and commonly used routines as well as
 communications with the LeechCraft core.

Package: leechcraft
Section: net
Architecture: i386 i586 i686 amd64
Depends: libc6,
 libgcc1,
 libstdc++6,
 libqt4-core (>= 4.5),
 libqt4-gui (>= 4.5),
 libqt4-xml (>= 4.5),
 libqt4-network (>= 4.5),
 libqt4-sql (>= 4.5),
 libqt4-sql-sqlite (>= 4.5),
 libqt4-sql-psql (>= 4.5),
 libqt4-script (>= 4.5),
 leechcraft-libxmlsettingsdialog0.3.0 (= ${Source-Version}),
 leechcraft-libplugininterface0.3.0 (= ${Source-Version}),
 leechcraft-iconset (= ${Source-Version})
Recommends: leechcraft-plugin-aggregator,
 leechcraft-plugin-bittorrent,
 leechcraft-plugin-cstp,
 leechcraft-plugin-dbusmanager,
 leechcraft-plugin-deadlyrics,
 leechcraft-plugin-historyholder,
 leechcraft-plugin-lmp,
 leechcraft-plugin-networkmonitor,
 leechcraft-plugin-poshuku,
 leechcraft-plugin-poshuku-cleanweb,
 leechcraft-plugin-poshuku-fua,
 leechcraft-plugin-seekthru
Homepage: http://leechcraft.org
Description: Core executable of LeechCraft
 LeechCraft is a full-featured "Internet client" application based on
 Nokia's Qt framework. Features can be easily added via plugins that
 can be integrated with each other with no effort, while staying away
 from tight coupling. Most significant plugins are Poshuku (web browser),
 Aggregator (feed reader), BitTorrent client, SeekThru (OpenSearch
 client). And there are lots of other plugins.
 .
 This package contains the main LeechCraft executable, which connects
 all the plugins with each other, routes requests between them and
 tracks dependencies.

Package: leechcraft-plugin-aggregator
Section: net
Architecture: i386 i586 i686 amd64
Depends: libc6,
 libgcc1,
 libstdc++6,
 libqt4-core (>= 4.5),
 libqt4-gui (>= 4.5),
 libqt4-xml (>= 4.5),
 libqt4-network (>= 4.5),
 libqt4-sql (>= 4.5),
 libqt4-sql-sqlite (>= 4.5),
 libqt4-sql-psql (>= 4.5),
 leechcraft-libxmlsettingsdialog0.3.0 (= ${Source-Version}),
 leechcraft-libplugininterface0.3.0 (= ${Source-Version}),
 leechcraft (= ${Source-Version}),
 leechcraft-provider-http
Provides: leechcraft-provider-feedreader
Recommends: leechcraft-provider-webbrowser
Homepage: http://leechcraft.org
Description: RSS/Atom feed reader for LeechCraft
 LeechCraft is a full-featured "Internet client" application based on
 Nokia's Qt framework. Features can be easily added via plugins that
 can be integrated with each other with no effort, while staying away
 from tight coupling. Most significant plugins are Poshuku (web browser),
 Aggregator (feed reader), BitTorrent client, SeekThru (OpenSearch
 client). And there are lots of other plugins.
 .
 This package contains Aggregator, the RSS/Atom feed reader. A web
 browser plugin is recommended to show the news in a handy manner.

Package: leechcraft-plugin-bittorrent
Section: net
Architecture: i386 i586 i686 amd64
Depends: libc6,
 libgcc1,
 libstdc++6,
 libqt4-core (>= 4.5),
 libqt4-gui (>= 4.5),
 libqt4-xml (>= 4.5),
 libboost-system1.37.0,
 libboost-thread1.37.0,
 libboost-date-time1.37.0,
 libboost-filesystem1.37.0,
 libtorrent-rasterbar-0.15,
 leechcraft-libxmlsettingsdialog0.3.0 (= ${Source-Version}),
 leechcraft-libplugininterface0.3.0 (= ${Source-Version}),
 leechcraft (= ${Source-Version})
Provides: leechcraft-provider-bittorrent
Homepage: http://leechcraft.org
Description: BitTorrent client for LeechCraft
 LeechCraft is a full-featured "Internet client" application based on
 Nokia's Qt framework. Features can be easily added via plugins that
 can be integrated with each other with no effort, while staying away
 from tight coupling. Most significant plugins are Poshuku (web browser),
 Aggregator (feed reader), BitTorrent client, SeekThru (OpenSearch
 client). And there are lots of other plugins.
 .
 This package contains a sophisticated BitTorrent client.

Package: leechcraft-plugin-cstp
Section: net
Architecture: i386 i586 i686 amd64
Depends: libc6,
 libgcc1,
 libstdc++6,
 libqt4-core (>= 4.5),
 libqt4-gui (>= 4.5),
 libqt4-network (>= 4.5),
 leechcraft-libxmlsettingsdialog0.3.0 (= ${Source-Version}),
 leechcraft-libplugininterface0.3.0 (= ${Source-Version}),
 leechcraft (= ${Source-Version})
Provides: leechcraft-provider-http
Homepage: http://leechcraft.org
Description: HTTP client for LeechCraft
 LeechCraft is a full-featured "Internet client" application based on
 Nokia's Qt framework. Features can be easily added via plugins that
 can be integrated with each other with no effort, while staying away
 from tight coupling. Most significant plugins are Poshuku (web browser),
 Aggregator (feed reader), BitTorrent client, SeekThru (OpenSearch
 client). And there are lots of other plugins.
 .
 This package contains clean and simple HTTP implementation.

Package: leechcraft-plugin-dbusmanager
Section: net
Architecture: i386 i586 i686 amd64
Depends: libc6,
 libgcc1,
 libstdc++6,
 libqt4-core (>= 4.5),
 libqt4-dbus (>= 4.5),
 libqt4-gui (>= 4.5),
 leechcraft-libxmlsettingsdialog0.3.0 (= ${Source-Version}),
 leechcraft-libplugininterface0.3.0 (= ${Source-Version}),
 leechcraft (= ${Source-Version})
Provides: leechcraft-provider-dbus
Homepage: http://leechcraft.org
Description: D-Bus side of LeechCraft
 LeechCraft is a full-featured "Internet client" application based on
 Nokia's Qt framework. Features can be easily added via plugins that
 can be integrated with each other with no effort, while staying away
 from tight coupling. Most significant plugins are Poshuku (web browser),
 Aggregator (feed reader), BitTorrent client, SeekThru (OpenSearch
 client). And there are lots of other plugins.
 .
 This package provides some DBus-related features, like integration with
 KDE4 notifications (if running).

Package: leechcraft-plugin-deadlyrics
Section: net
Architecture: i386 i586 i686 amd64
Depends: libc6,
 libgcc1,
 libstdc++6,
 libqt4-core (>= 4.5),
 libqt4-gui (>= 4.5),
 libqt4-network (>= 4.5),
 libqt4-xml (>= 4.5),
 leechcraft-libxmlsettingsdialog0.3.0 (= ${Source-Version}),
 leechcraft-libplugininterface0.3.0 (= ${Source-Version}),
 leechcraft (= ${Source-Version})
Homepage: http://leechcraft.org
Description: Song lyrics finder for LeechCraft
 LeechCraft is a full-featured "Internet client" application based on
 Nokia's Qt framework. Features can be easily added via plugins that
 can be integrated with each other with no effort, while staying away
 from tight coupling. Most significant plugins are Poshuku (web browser),
 Aggregator (feed reader), BitTorrent client, SeekThru (OpenSearch
 client). And there are lots of other plugins.
 .
 This package contains a simple client for the lyricwiki.org site.

Package: leechcraft-plugin-historyholder
Section: net
Architecture: i386 i586 i686 amd64
Depends: libc6,
 libgcc1,
 libstdc++6,
 libqt4-core (>= 4.5),
 libqt4-gui (>= 4.5),
 leechcraft-libxmlsettingsdialog0.3.0 (= ${Source-Version}),
 leechcraft-libplugininterface0.3.0 (= ${Source-Version}),
 leechcraft (= ${Source-Version})
Homepage: http://leechcraft.org
Description: History keeper for LeechCraft
 LeechCraft is a full-featured "Internet client" application based on
 Nokia's Qt framework. Features can be easily added via plugins that
 can be integrated with each other with no effort, while staying away
 from tight coupling. Most significant plugins are Poshuku (web browser),
 Aggregator (feed reader), BitTorrent client, SeekThru (OpenSearch
 client). And there are lots of other plugins.
 .
 This package contains a history keeper that stores information about
 finished downloads and similar events.

Package: leechcraft-plugin-lmp
Section: net
Architecture: i386 i586 i686 amd64
Depends: libc6,
 libgcc1,
 libstdc++6,
 libqt4-core (>= 4.5),
 libqt4-gui (>= 4.5),
 phonon (>= 4.5),
 leechcraft-libxmlsettingsdialog0.3.0 (= ${Source-Version}),
 leechcraft-libplugininterface0.3.0 (= ${Source-Version}),
 leechcraft (= ${Source-Version})
Homepage: http://leechcraft.org
Description: Media Previewer for LeechCraft
 LeechCraft is a full-featured "Internet client" application based on
 Nokia's Qt framework. Features can be easily added via plugins that
 can be integrated with each other with no effort, while staying away
 from tight coupling. Most significant plugins are Poshuku (web browser),
 Aggregator (feed reader), BitTorrent client, SeekThru (OpenSearch
 client). And there are lots of other plugins.
 .
 This package contains the LMP, LeechCraft Media Previewer, small and
 dirty media player designed to preview already downloaded files.

Package: leechcraft-plugin-networkmonitor
Section: net
Architecture: i386 i586 i686 amd64
Depends: libc6,
 libgcc1,
 libstdc++6,
 libqt4-core (>= 4.5),
 libqt4-gui (>= 4.5),
 libqt4-network (>= 4.5),
 leechcraft-libxmlsettingsdialog0.3.0 (= ${Source-Version}),
 leechcraft-libplugininterface0.3.0 (= ${Source-Version}),
 leechcraft (= ${Source-Version})
Homepage: http://leechcraft.org
Description: Network monitor for LeechCraft
 LeechCraft is a full-featured "Internet client" application based on
 Nokia's Qt framework. Features can be easily added via plugins that
 can be integrated with each other with no effort, while staying away
 from tight coupling. Most significant plugins are Poshuku (web browser),
 Aggregator (feed reader), BitTorrent client, SeekThru (OpenSearch
 client). And there are lots of other plugins.
 .
 This package contains a monitor that watches for HTTP requests
 and responses around.

Package: leechcraft-plugin-poshuku
Section: net
Architecture: i386 i586 i686 amd64
Depends: libc6,
 libgcc1,
 libstdc++6,
 libqt4-core (>= 4.5),
 libqt4-gui (>= 4.5),
 libqt4-network (>= 4.5),
 libqt4-sql (>= 4.5),
 libqt4-sql-sqlite (>= 4.5),
 libqt4-sql-psql (>= 4.5),
 libqt4-webkit (>= 4.5),
 libqt4-xml (>= 4.5),
 leechcraft-libxmlsettingsdialog0.3.0 (= ${Source-Version}),
 leechcraft-libplugininterface0.3.0 (= ${Source-Version}),
 leechcraft (= ${Source-Version})
Recommends: leechcraft-provider-http,
 leechcraft-provider-bittorrent,
 leechcraft-provider-feedreader,
 leechcraft-provider-search
Provides: leechcraft-provider-webbrowser
Homepage: http://leechcraft.org
Description: Web browser for LeechCraft
 LeechCraft is a full-featured "Internet client" application based on
 Nokia's Qt framework. Features can be easily added via plugins that
 can be integrated with each other with no effort, while staying away
 from tight coupling. Most significant plugins are Poshuku (web browser),
 Aggregator (feed reader), BitTorrent client, SeekThru (OpenSearch
 client). And there are lots of other plugins.
 .
 This package contains a full-featured web browser.

Package: leechcraft-plugin-poshuku-cleanweb
Section: net
Architecture: i386 i586 i686 amd64
Depends: libc6,
 libgcc1,
 libstdc++6,
 leechcraft-libxmlsettingsdialog0.3.0 (= ${Source-Version}),
 leechcraft-libplugininterface0.3.0 (= ${Source-Version}),
 leechcraft-plugin-poshuku (= ${Source-Version}),
 leechcraft (= ${Source-Version})
Homepage: http://leechcraft.org
Description: Ad filter for Web browser for LeechCraft
 LeechCraft is a full-featured "Internet client" application based on
 Nokia's Qt framework. Features can be easily added via plugins that
 can be integrated with each other with no effort, while staying away
 from tight coupling. Most significant plugins are Poshuku (web browser),
 Aggregator (feed reader), BitTorrent client, SeekThru (OpenSearch
 client). And there are lots of other plugins.
 .
 This package contains a plugin for the Poshuku web browser that
 filters out ads according to predefined rules. It is compatible with
 Firefox's AdBlock rules.

Package: leechcraft-plugin-poshuku-fua
Section: net
Architecture: i386 i586 i686 amd64
Depends: libc6,
 libgcc1,
 libstdc++6,
 leechcraft-libxmlsettingsdialog0.3.0 (= ${Source-Version}),
 leechcraft-libplugininterface0.3.0 (= ${Source-Version}),
 leechcraft-plugin-poshuku (= ${Source-Version}),
 leechcraft (= ${Source-Version})
Homepage: http://leechcraft.org
Description: Fake user agent plugin for Web browser for LeechCraft
 LeechCraft is a full-featured "Internet client" application based on
 Nokia's Qt framework. Features can be easily added via plugins that
 can be integrated with each other with no effort, while staying away
 from tight coupling. Most significant plugins are Poshuku (web browser),
 Aggregator (feed reader), BitTorrent client, SeekThru (OpenSearch
 client). And there are lots of other plugins.
 .
 This package contains a plugin for the Poshuku web browser that allows
 to set fake user agents for different domains.

Package: leechcraft-plugin-seekthru
Section: net
Architecture: i386 i586 i686 amd64
Depends: libc6,
 libgcc1,
 libstdc++6,
 libqt4-core (>= 4.5),
 libqt4-gui (>= 4.5),
 libqt4-xml (>= 4.5),
 leechcraft-libxmlsettingsdialog0.3.0 (= ${Source-Version}),
 leechcraft-libplugininterface0.3.0 (= ${Source-Version}),
 leechcraft (= ${Source-Version}),
 leechcraft-provider-webbrowser
Provides: leechcraft-provider-search
Homepage: http://leechcraft.org
Description: Search plugin for LeechCraft
 LeechCraft is a full-featured "Internet client" application based on
 Nokia's Qt framework. Features can be easily added via plugins that
 can be integrated with each other with no effort, while staying away
 from tight coupling. Most significant plugins are Poshuku (web browser),
 Aggregator (feed reader), BitTorrent client, SeekThru (OpenSearch
 client). And there are lots of other plugins.
 .
 This package contains a search client for OpenSearch-aware web sites.
