[Desktop Entry]
Type=Application
Name=LeechCraft BitTorrent
GenericName=BitTorrent Client
Icon=leechcraft_main
Exec=leechcraft -D %U
Categories=Network;FileTransfer;P2P;Qt;
Terminal=false
X-StandardInstall=true
NoDisplay=true
MimeType=application/x-bittorrent;x-scheme-handler/magnet;
