[ToolButton]
TopColor=29,95,149,180
BottomColor=15,55,91,180
BorderColor=Palette.Button
SelectedTopColor=35,123,202,200
SelectedBottomColor=38,133,218,230
SelectedBorderColor=43,116,199
HoveredTopColor=35,123,202,200
HoveredBottomColor=29,95,149,200
HoveredBorderColor=119,183,255
PressedBorderColor=119,183,255
TextColor=182,222,255

[Panel]
TopColor=Palette.Window
BottomColor=Palette.Window
TextColor=Palette.WindowText

[TextBox]
TopColor=11,37,61
BottomColor=Palette.Window
BorderColor=21,75,116
HighlightTopColor=30,103,159
HighlightBottomColor=63,149,240
HighlightBorderColor=119,183,255
TitleTextColor=182,222,255
TextColor=Palette.WindowText
Aux1TextColor=0,204,255
Aux2TextColor=0,255,223
Aux3TextColor=0,255,255

[TextView]
TopColor=Palette.Window
BottomColor=11,37,61
TitleTextColor=182,222,255
TextColor=Palette.WindowText
Aux1TextColor=0,204,255
Aux2TextColor=0,255,223
Aux3TextColor=0,255,255