[ToolButton]
TopColor=0,0,0,127
BottomColor=66,57,75,127
BorderColor=0,0,0
SelectedTopColor=75,10,0
SelectedBottomColor=120,67,75
SelectedBorderColor=255,101,0
HoveredTopColor=110,14,0
HoveredBottomColor=164,85,95
HoveredBorderColor=66,57,75
PressedBorderColor=0,0,0
TextColor=211,211,211

[Panel]
TopColor=Palette.Window
BottomColor=Palette.Window
TextColor=Palette.WindowText

[TextBox]
TopColor=Palette.Midlight
BottomColor=Palette.Mid
BorderColor=Palette.Shadow
HighlightTopColor=Palette.Highlight
HighlightBottomColor=Palette.Highlight
HighlightBorderColor=Palette.Shadow
TitleTextColor=Palette.ButtonText.darker(20)
TextColor=Palette.ButtonText
Aux1TextColor=Palette.ButtonText.lighter(20)
Aux2TextColor=Palette.ButtonText.lighter(30)
Aux3TextColor=Palette.ButtonText.lighter(40)

[TextView]
TopColor=Palette.Window
BottomColor=Palette.Window
TitleTextColor=Palette.WindowText.darker(20)
TextColor=Palette.WindowText
Aux1TextColor=Palette.WindowText.lighter(20)
Aux2TextColor=Palette.WindowText.lighter(30)
Aux3TextColor=Palette.WindowText.lighter(40)
