[ColorEffects:Disabled]
Color=48,43,30
ColorAmount=0
ColorEffect=0
ContrastAmount=0.65
ContrastEffect=1
IntensityAmount=0.25
IntensityEffect=2

[ColorEffects:Inactive]
ChangeSelectionColor=true
Color=227,170,0
ColorAmount=0
ColorEffect=0
ContrastAmount=0.25
ContrastEffect=2
Enable=false
IntensityAmount=0.05
IntensityEffect=2

[Colors:Button]
BackgroundAlternate=90,98,109
BackgroundNormal=88,88,88
DecorationFocus=0,255,0
DecorationHover=0,255,0
ForegroundActive=192,255,192
ForegroundInactive=135,143,154
ForegroundLink=137,202,203
ForegroundNegative=211,137,188
ForegroundNeutral=77,93,108
ForegroundNormal=220,220,220
ForegroundPositive=95,173,134
ForegroundVisited=64,128,255

[Colors:Selection]
BackgroundAlternate=111,126,144
BackgroundNormal=0,192,0
DecorationFocus=0,255,0
DecorationHover=0,255,0
ForegroundActive=192,255,192
ForegroundInactive=174,192,218
ForegroundLink=137,202,203
ForegroundNegative=211,137,188
ForegroundNeutral=77,93,108
ForegroundNormal=61,61,61
ForegroundPositive=95,173,134
ForegroundVisited=64,128,255

[Colors:Tooltip]
BackgroundAlternate=171,181,195
BackgroundNormal=195,195,195
DecorationFocus=0,255,0
DecorationHover=0,255,0
ForegroundActive=192,255,192
ForegroundInactive=112,118,128
ForegroundLink=137,202,203
ForegroundNegative=211,137,188
ForegroundNeutral=77,93,108
ForegroundNormal=42,44,48
ForegroundPositive=95,173,134
ForegroundVisited=46,95,185

[Colors:View]
BackgroundAlternate=67,71,80
BackgroundNormal=88,88,88
DecorationFocus=0,255,0
DecorationHover=0,255,0
ForegroundActive=192,255,192
ForegroundInactive=135,143,154
ForegroundLink=137,202,203
ForegroundNegative=211,137,188
ForegroundNeutral=77,93,108
ForegroundNormal=220,220,220
ForegroundPositive=95,173,134
ForegroundVisited=64,128,255

[Colors:Window]
BackgroundAlternate=78,83,94
BackgroundNormal=74,74,74
DecorationFocus=0,255,0
DecorationHover=0,255,0
ForegroundActive=192,255,192
ForegroundInactive=135,143,154
ForegroundLink=137,202,203
ForegroundNegative=211,137,188
ForegroundNeutral=77,93,108
ForegroundNormal=220,220,220
ForegroundPositive=95,173,134
ForegroundVisited=64,128,255

[General]
ColorScheme=BT5-R3-GreyDark
Name=BT5-R3-GreyDark
shadeSortColumn=true

[KDE]
contrast=5

[WM]
activeBackground=0,64,0
activeForeground=192,255,192
inactiveBackground=82,89,99
inactiveForeground=140,152,168
