[Desktop Entry]
Type=Application
Name=LeechCraft (Qt5)
GenericName=Live environment
GenericName[ru]=Рабочая среда
Icon=leechcraft_main
Exec=leechcraft-qt5
Categories=Network;FileTransfer;News;P2P;IRCClient;Qt;
Terminal=false
X-StandardInstall=true
Keywords=Network;P2P;FileSharing;Chat;IM;Web;Viewer;
