[Desktop Entry]
Type=Application
Name=LeechCraft
GenericName=Internet client
GenericName[ru]=Интернет-клиент
Icon=leechcraft_main
Exec=leechcraft
Categories=Network;FileTransfer;News;P2P;IRCClient;Qt;
Terminal=false
X-StandardInstall=true
