[Desktop Entry]
Type=Application
Name=LeechCraft Azoth (Qt5)
GenericName=Instant Messenger
GenericName[ar]=مراسل فوري
GenericName[ast]=Mensaxería nel intre
GenericName[bg]=Моментни съобщения
GenericName[bn]=তাত্ক্ষণিক বার্তাবাহক
GenericName[br]=Posteler a-benn-kaer
GenericName[bs]=Brze poruke
GenericName[ca]=Missatger a l'instant
GenericName[ca@valencia]=Missatger a l'instant
GenericName[cs]=Komunikátor
GenericName[cy]=Negesydd Chwim
GenericName[da]=Instant messenger
GenericName[de]=Instant Messenger
GenericName[el]=Στιγμιαίος αποστολέας μηνυμάτων
GenericName[en_GB]=Instant Messenger
GenericName[eo]=Tujmesaĝilo
GenericName[es]=Mensajería instantánea
GenericName[et]=Kiirsuhtlemisrakendus
GenericName[eu]=Berehalako mezularitza
GenericName[fa]=پیام‌رسان فوری
GenericName[fi]=Pikaviestinohjelma
GenericName[fr]=Messagerie instantanée
GenericName[ga]=Clár teachtaireachtaí meandaracha
GenericName[gl]=Mensaxería instantánea
GenericName[he]=תוכנת מסרים מידיים
GenericName[hi]=इंसटैंट मैसेंजर
GenericName[hne]=इंसटैंट मैसेंजर
GenericName[hr]=Aplikacija za čavrljanje
GenericName[hsb]=Instant Messenger
GenericName[hu]=Internetes csevegő
GenericName[ia]=Messagero Instantanee
GenericName[is]=Spjallforrit
GenericName[it]=Messaggistica istantanea
GenericName[ja]=インスタントメッセンジャー
GenericName[kk]=Лезде хабарласу
GenericName[km]=កម្មវិធី​ផ្ញើ​សារ​បន្ទាន់
GenericName[ko]=인스턴트 메신저
GenericName[lt]=Momentinių žinučių klientas
GenericName[lv]=Tūlītējā ziņojumapmaiņa
GenericName[mai]=इंसटैंट मैसेंजर
GenericName[mk]=Инстант гласник
GenericName[ml]=അതിവേഗ ദൂതന്‍
GenericName[nb]=Hurtigmelding
GenericName[nds]=Kortnarichtenprogramm
GenericName[ne]=इन्स्ट्यान्ट मेेसेन्जर
GenericName[nl]=Instant messenger
GenericName[nn]=Lynmeldingsprogram
GenericName[pa]=ਤੁਰੰਤ ਮੈਸੈਂਜਰ
GenericName[pl]=Komunikator internetowy
GenericName[pt]=Mensageiro Instantâneo
GenericName[pt_BR]=Mensageiro Instantâneo
GenericName[ro]=Mesagerie instantanee
GenericName[ru]=Обмен мгновенными сообщениями
GenericName[se]=Šleađgadiehtoprográmma
GenericName[si]=ක්‍ෂණික පණිවුඩකරු
GenericName[sk]=Instant Messenger
GenericName[sl]=Takojšni sporočilnik
GenericName[sq]=Instant Messenger
GenericName[sr]=Брзи гласник
GenericName[sr@ijekavian]=Брзи гласник
GenericName[sr@ijekavianlatin]=Brzi glasnik
GenericName[sr@latin]=Brzi glasnik
GenericName[sv]=Direktmeddelandeklient
GenericName[ta]=உடனடி தூதர்
GenericName[tg]=Пайёмбари Фаврӣ
GenericName[th]=ข้อความด่วนทันใจ
GenericName[tr]=Anında Haberleşme Hizmeti
GenericName[ug]=مۇڭداشقۇ
GenericName[uk]=Програма для миттєвого зв'язку
GenericName[uz]=Xabar almashish vositasi
GenericName[uz@cyrillic]=Хабар алмашиш воситаси
GenericName[vi]=Tin nhắn tức khắc
GenericName[wa]=Messaedjî sol moumint
GenericName[x-test]=xxInstant Messengerxx
GenericName[zh_CN]=即时通讯客户程序
GenericName[zh_HK]=即時通訊程式
GenericName[zh_TW]=即時訊息客戶端程式
Comment=Instant Messenger
Comment[ar]=مراسل فوري
Comment[ast]=Mensaxería nel intre
Comment[bg]=Моментни съобщения
Comment[bn]=তাত্ক্ষণিক বার্তাবাহক
Comment[br]=Posteler a-benn-kaer
Comment[bs]=Brze poruke
Comment[ca]=Missatger a l'instant
Comment[ca@valencia]=Missatger a l'instant
Comment[cs]=Komunikátor
Comment[cy]=Negesydd Chwim
Comment[da]=Instant messenger
Comment[de]=Instant Messenger
Comment[el]=Στιγμιαίος αποστολέας μηνυμάτων
Comment[en_GB]=Instant Messenger
Comment[eo]=Tujmesaĝilo
Comment[es]=Mensajería instantánea
Comment[et]=Kiirsuhtlusrakendus
Comment[eu]=Berehalako mezularitza
Comment[fa]=پیام‌رسان فوری
Comment[fi]=Pikaviestinohjelma
Comment[fr]=Messagerie instantanée
Comment[ga]=Instant Messenger
Comment[gl]=Mensaxería instantánea
Comment[he]=תוכנת מסרים מידיים
Comment[hi]=इंसटैंट मैसेंजर
Comment[hne]=इंसटैंट मैसेंजर
Comment[hr]=Aplikacija za čavrljanje
Comment[hu]=Azonnali üzenetküldő
Comment[ia]=Messagero Instantanee
Comment[is]=Spjallforrit
Comment[it]=Messaggistica istantanea
Comment[ja]=インスタントメッセンジャー
Comment[kk]=Жедел хабарласу бағдарламасы
Comment[km]=កម្មវិធី​ផ្ញើ​សារ​បន្ទាន់
Comment[ko]=인스턴트 메신저
Comment[lt]=Momentinių žinučių klientas
Comment[lv]=Tūlītējas ziņojumapmaiņas programma
Comment[mai]=इंसटैंट मैसेंजर
Comment[mk]=Инстант гласник
Comment[ml]=അതിവേഗ ദൂതന്‍
Comment[nb]=Hurtigmeldingssystem
Comment[nds]=Kortnarichtenprogramm
Comment[ne]=इन्स्ट्यान्ट मेसेन्जर
Comment[nl]=Instant messenger
Comment[nn]=Lynmeldingsprogram
Comment[pa]=ਤੁਰੰਤ ਮੈਸੈਂਜਰ
Comment[pl]=Komunikator
Comment[pt]=Mensageiro Instantâneo
Comment[pt_BR]=Mensageiro Instantâneo
Comment[ro]=Mesagerie instantanee
Comment[ru]=Программа обмена мгновенными сообщениями
Comment[se]=Instant Messenger-klienta
Comment[si]=ක්‍ෂණික පණිවුඩකරු
Comment[sk]=Instant Messenger
Comment[sl]=Takojšni sporočilnik
Comment[sq]=Instant Messenger
Comment[sr]=Брзи гласник
Comment[sr@ijekavian]=Брзи гласник
Comment[sr@ijekavianlatin]=Brzi glasnik
Comment[sr@latin]=Brzi glasnik
Comment[sv]=Direktmeddelandeklient
Comment[ta]=உடனடி தூதர்
Comment[tg]=Пайёмбари Фаврӣ
Comment[th]=ข้อความด่วนทันใจ
Comment[tr]=Anında Haberleşme Hizmeti
Comment[ug]=مۇڭداشقۇ
Comment[uk]=Програма для миттєвого зв'язку
Comment[uz]=Xabar almashish vositasi
Comment[uz@cyrillic]=Хабар алмашиш воситаси
Comment[vi]=Tin nhắn tức khắc
Comment[x-test]=xxInstant Messengerxx
Comment[zh_CN]=即时通讯客户程序
Comment[zh_HK]=即時通訊程式
Comment[zh_TW]=即時訊息客戶端程式
Icon=leechcraft_main
Exec=leechcraft-qt5 -H %U
Categories=Qt;Network;InstantMessaging;
Terminal=false
X-StandardInstall=true
NoDisplay=true
MimeType=x-scheme-handler/xmpp;
