[ColorEffects:Disabled]
Color=112,111,110
ColorAmount=0
ColorEffect=0
ContrastAmount=0.5
ContrastEffect=1
IntensityAmount=0.05
IntensityEffect=2

[ColorEffects:Inactive]
Color=112,111,110
ColorAmount=0.05
ColorEffect=2
ContrastAmount=0.2
ContrastEffect=2
Enable=false
IntensityAmount=0
IntensityEffect=0

[Colors:Button]
BackgroundAlternate=224,223,222
BackgroundNormal=181,182,190
DecorationFocus=0,20,80
DecorationHover=30,30,40
ForegroundActive=0,81,140
ForegroundInactive=0,60,100
ForegroundLink=0,87,174
ForegroundNegative=191,3,3
ForegroundNeutral=176,128,0
ForegroundNormal=0,0,60
ForegroundPositive=0,110,40
ForegroundVisited=100,74,155

[Colors:Selection]
BackgroundAlternate=62,138,204
BackgroundNormal=65,143,212
DecorationFocus=0,20,80
DecorationHover=30,30,40
ForegroundActive=0,81,140
ForegroundInactive=0,80,115
ForegroundLink=0,49,110
ForegroundNegative=156,14,14
ForegroundNeutral=255,221,0
ForegroundNormal=245,245,245
ForegroundPositive=128,255,128
ForegroundVisited=69,40,134

[Colors:Tooltip]
BackgroundAlternate=196,224,255
BackgroundNormal=220,220,220
DecorationFocus=0,20,80
DecorationHover=30,30,40
ForegroundActive=0,81,140
ForegroundInactive=0,60,100
ForegroundLink=0,87,174
ForegroundNegative=191,3,3
ForegroundNeutral=176,128,0
ForegroundNormal=20,19,18
ForegroundPositive=0,110,40
ForegroundVisited=100,74,155

[Colors:View]
BackgroundAlternate=248,247,246
BackgroundNormal=240,240,240
DecorationFocus=0,20,80
DecorationHover=30,30,40
ForegroundActive=0,81,140
ForegroundInactive=0,60,100
ForegroundLink=0,87,174
ForegroundNegative=191,3,3
ForegroundNeutral=176,128,0
ForegroundNormal=20,19,18
ForegroundPositive=0,110,40
ForegroundVisited=100,74,155

[Colors:Window]
BackgroundAlternate=218,217,216
BackgroundNormal=182,185,190
DecorationFocus=0,20,80
DecorationHover=30,30,40
ForegroundActive=0,81,140
ForegroundInactive=0,60,100
ForegroundLink=0,87,174
ForegroundNegative=191,3,3
ForegroundNeutral=176,128,0
ForegroundNormal=30,30,40
ForegroundPositive=0,110,40
ForegroundVisited=100,74,155
