Checks: >
  bugprone-*,
  modernize-*,
  cppcoreguidelines-*,
  misc-*,
  modernize-*,
  performance-*,
  readability-*,
  -bugprone-easily-swappable-parameters,
  -cert-err58-cpp,
  -cppcoreguidelines-non-private-member-variables-in-classes,
  -cppcoreguidelines-owning-memory,
  -cppcoreguidelines-pro-bounds-array-to-pointer-decay,
  -cppcoreguidelines-avoid-const-or-ref-data-members,
  -cppcoreguidelines-misleading-capture-default-by-value,
  -google-default-arguments,
  -misc-non-private-member-variables-in-classes,
  -modernize-use-nodiscard,
  -modernize-use-trailing-return-type,
  -readability-braces-around-statements,
  -readability-implicit-bool-conversion,
  -readability-identifier-length,
  -readability-named-parameter,
  -readability-qualified-auto,
  -readability-redundant-access-specifiers,
